* {
    margin: 0;
    padding: 0;
}
.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: #f8f9fd;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background: #6cf0c2;
}

.button-container {
    display: flex;
    justify-content: center;
}

.login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
    display: flex;
}

.error {
    color: red;
    font-size: 12px;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.errorMessage {
    color: red;
}
.span-container {
    display: flex;
    width: 100%;
    gap: 100px;
}
.span-container2 {
    display: flex;
    align-items: center;
    background-color: #EFF2F5;
    border-radius: 8px;
    margin-left: auto;
    padding: 5px;
    height: 20px;
}
.days-span:hover {
    background-color: #F8FAFD;
}
.days-span {
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
}
.active {
    background-color: #F8FAFD;
}

.user-info {
    grid-area: left1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px ;
    align-items: center;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    word-wrap: break-word;
    color: rgb(93, 140, 146);
    height: 400px;
}
.chart-board {
    width: 600px;
    height: 400px;
}


.icon-container {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}
.input-text {
    padding: 5px;
    border: none;
    font-size: 20px;
    width: 130px;
}
.input-text:focus {
    outline: none;
}
.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
    margin-right: 10px;
 }

.change-button {
    cursor: pointer;
    font-size: 15px;
    background: #1b1d1c;
    color: #fff;
    padding: 10px 10px;
}

@media screen and (max-width: 900px) {

    .span-container {
        gap: 30px;
    }
    .span-container2 {
        border-radius: 4px;
        padding: 3px;
        height: 10px;  
    }
}